$brand-primary: #ad1f4f;
$brand-secondary: #008b8b;

$background-color: #f3f3f3;
$body-color: #5d4245;
$link-color: $brand-primary;
$link-decoration: none;
$link-color-hover: darken($brand-primary, 15%);
$link-decoration-hover: none;

$container-max-width: 960px;


@mixin for-phone-up {
  @media (min-width: 480px) { @content; }
}
@mixin for-tablet-landscape-up {
	@media (min-width: 1024px) { @content; }
}
@mixin for-big-desktop-up {
	@media (min-width: 1300px) { @content; }
}
