@import './config/variables';

.footer {
	flex-shrink: 0;
	padding-top: 30px;
	padding-bottom: 80px;

	background-image: url('../assets/img/leaves_bottom.png');
	background-repeat: no-repeat;
	background-position: 50% 104%;
	background-size: 350px auto;

	@include for-phone-up {
		background-position: 50% 100%;
		background-size: 400px auto;
	}

	&__content {
		margin: 0 auto;
		max-width: $container-max-width;
		font-size: 12px;
		text-align: center;
		color: #656464;
	}
}
