@import './config/variables';

.footer {
	flex-shrink: 0;
	padding: 40px;
	padding-bottom: 80px;

	background-image: url('../assets/img/leaves_bottom.png');
	background-repeat: no-repeat;
	background-position: 50% 104%;
	background-size: 350px auto;

	@include for-phone-up {
		background-position: 50% 100%;
		background-size: 400px auto;
	}

	&__content {
		margin: 0 auto;
		max-width: $container-max-width;
		font-size: 12px;
		text-align: center;
		color: #656464;

		a {
			margin: 0 10px;
			color: $link-color;
			text-decoration: none;
			transition: border 0.5s ease-in-out;
			border-bottom: 1px solid $link-color-hover;
			padding-bottom: 1px;

			&:hover {
				border-bottom: 1px solid hsla(0,0%,100%,0);
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			display: inline;
		}
	}
}
