@import './config/variables';

.logo {
	margin: 0 auto;
	transform: translate(2%, 0);

	svg path {
		fill: $brand-primary;
	}

	&--home {
		margin-top: 25px;
		width: 70%;

		@include for-tablet-portrait-up {
			margin: 60px auto 40px;
			width: 65%;
		}
		@include for-tablet-landscape-up {
			width: 50%;
		}
	}

	&--subpage {
		margin-top: 10px;
		width: 55%;

		@include for-phone-up {
			width: 35%;
		}
	}
}
