@import './config/variables';

.logo {
	margin: 0 auto;
	transform: translate(2%, 0);

	svg path {
		fill: $brand-primary;
	}

	&--home {
		margin-top: 25px;
		width: 80%;

		@include for-tablet-portrait-up {
			margin: 60px auto;
			width: 60%;
		}
		@include for-tablet-landscape-up {
			width: 50%;
		}
		@include for-big-desktop-up {
			margin-bottom: 40px;
		}
	}

	&--subpage {
		margin-top: 10px;
		width: 50%;

		@include for-phone-up {
			width: 25%;
		}
	}
}
