@import './config/variables';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

html {
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  background: $background-color url('../assets/img/bg.png') top left repeat;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

p,
h1,
h2,
h3 {
	margin: 0;
}

body {
  height: 100vh;
	margin: 0;
	font-family: 'Libre Baskerville', serif;
	color: $body-color;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;

  background-image: url('../assets/img/leaves_top.png');
  background-repeat:  no-repeat;
  background-position:  -8% 0%;
  background-size:  100px auto;

  @include for-phone-up {
    background-position:  0% 0%;
    background-size:  140px auto;
	}

	@include for-tablet-landscape-up {
		background-position: 5% 0%;
		background-size: 210px auto;
	}

	@include for-big-desktop-up {
		background-position: 15% 0%;
	}
}

.main {
	background: hsla(360, 100%, 100%, 0.60);
	padding: 20px;
	box-shadow: 0px 1px 30px -10px rgba(46,71,49,0.2);

	h2 {
		margin-bottom: 20px;
	}

	p {
		line-height: 25px;
    white-space: pre-wrap;
    margin-bottom: 15px;
	}

	a {
		color: $link-color;

		&:hover {
			color: $link-color-hover;
		}
	}
}
