@import './config/variables';

html {
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  background: $background-color url('../assets/img/bg.png') top left repeat;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  height: 100vh;
	margin: 0;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;

  background-image: url('../assets/img/leaves_top.png');
  background-repeat:  no-repeat;
  background-position:  -8% 0%;
  background-size:  100px auto;

  @include for-phone-up {
    background-position:  0% 0%;
    background-size:  140px auto;
	}

	@include for-tablet-landscape-up {
		background-position: 5% 0%;
		background-size: 210px auto;
	}

	@include for-big-desktop-up {
		background-position: 15% 0%;
	}
}
